@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


<h2>Presentación del Grupo H</h2>
<ul>
    <li>Camila Luna Castro: Videojuegos, Leer, Entrenar</li>
    <li>Catalina Chaves: Bailar, Paisajismo, Estilista</li>
    <li>Pablo Hernández Aguilar: Gimnasio, Fútbol, Escuchar Musica</li>
    <li>Ronald Joel Angulo Hernández: Ejercicio, Comer, Viajar</li>
</ul>
</div>
