@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


<h2>Presentación del Grupo H</h2>
<ul>
    <li>Camila Luna Castro: Videojuegos, Leer, Entrenar</li>
    <li>Catalina Chaves: Bailar, Paisajismo, Estilista</li>
    <li>Miembro 3</li>
    <li>Miembro 4</li>
</ul>

</div>
