@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


<h2>Presentación del Grupo H</h2>
<ul>
    <li>Camila Luna Castro: Videojuegos, Leer, Entrenar</li>
    <li>Catalina Chaves: Bailar, Paisajismo, Estilista</li>
    <li>Pablo: Hobby 1, Hobby 2, Hobby 3</li>
    <li>Joel: Hobby 1, Hobby 2, Hobby 3</li>
</ul>
</div>
