@@page
@{
    ViewData["Title"] = "Series Favoritas - Grupo H";
}

<h2>Series Favoritas</h2>
<ul>
    <li>Camila Luna Castro: Dark, Monster, Fullmetal Alchemist: Brotherhood</li>
    <li>Catalina Chaves: RPDR, Bridgerton, Challenge</li>
    <li>Miembro 3</li>
    <li>Miembro 4</li>
</ul>
