@{
    ViewData["Title"] = "Series Favoritas - Grupo H";
}

<h2>Series Favoritas</h2>
<ul>
    <li><b>Camila Luna Castro</b></li>
    <li><a href="https://www.culturagenial.com/es/serie-dark/" target="_blank">Dark</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Monster_(serie_de_televisi%C3%B3n_surcoreana)" target="_blank">Monster</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Anexo:Episodios_de_Fullmetal_Alchemist:_Brotherhood" target="_blank">Fullmetal Alchemist: Brotherhood</a></li>
</ul>
<ul>
    <li><b>Catalina Chaves Aguilar</b></li>
    <li><a href="https://www.lavanguardia.com/peliculas-series/series/rupaul-reinas-del-drag-8514" target="_blank">RuPaul's Drag Race</a></li>
    <li><a href="https://www.sensacine.com/series/serie-23886/" target="_blank">Bridgerton</a></li>
    <li><a href="https://m.imdb.com/title/tt0176095/?language=es-es" target="_blank">Challenge</a></li>
</ul>
<ul>
    <li><b>Pablo Hernández Aguilar</b></li>
    <li><a href="https://www.sensacine.com/series/serie-49/" target="_blank">Friends</a></li>
    <li><a href="https://www.sensacine.com/series/serie-274/" target="_blank">Grey´s Anatomy</a></li>
    <li><a href="https://www.sensacine.com.mx/series/serie-3247/" target="_blank">The Big Bang Theory</a></li>
</ul>
<ul>
    <li><b>Ronald Joel Angulo Hernández</b></li>
    <li><a href="https://www.sensacine.com/series/serie-7330/" target="_blank">The Walking Dead</a></li>
    <li><a href="https://www.sensacine.com/series/serie-3517/" target="_blank">Breaking Bad</a></li>
    <li><a href="https://www.sensacine.com/series/serie-16950/" target="_blank">Better Call Saul</a></li>
</ul>