@@page
@{
    ViewData["Title"] = "Canciones Favoritas - Grupo H";
}

<h2>Canciones Favoritas</h2>
<ul>
    <li>Camila Luna Castro </li>
    <li><a href="https://open.spotify.com/intl-es/track/3jjsRKEsF42ccXf8kWR3nu?si=84b4e941b66f4b6b" target="_blank">Washing Machine Heart - Mitski</a></li>
    <li><a href="https://open.spotify.com/intl-es/track/1VcLiPmina1L3xlLkJ5OTS?si=ad84a4a66f7f4025" target="_blank">XXI Century Blood - The Warning</a></li>
    <li><a href="https://open.spotify.com/intl-es/track/2HVCLZ6dMDelXhloO5sAjV?si=15088b6baee341b3" target="_blank">Ego Brain - System of a Down</a></li>
</ul>
<ul>
    <li>Catalina Chaves </li>
    <li><a href="https://www.youtube.com/watch?v=MM62wjLrgmA" target="_blank">Schism - TOOL</a></li>
    <li><a href="https://www.youtube.com/watch?v=uCXVKd-VjNA" target="_blank">Lamborghinis - Lil Goat</a></li>
    <li><a href="https://www.youtube.com/watch?v=7PeGKDfVlHA" target="_blank">Calle de las Sirenas - KABAH</a></li>
</ul>


