@{
    ViewData["Title"] = "Canciones Favoritas - Grupo H";
}

<h2>Canciones Favoritas</h2>
<ul>
    <li><b>Camila Luna Castro</b></li>
    <li><a href="https://youtu.be/3vjkh-acmTE" target="_blank">Washing Machine Heart - Mitski</a></li>
    <li><a href="https://youtu.be/syTyga3lVL0" target="_blank">XXI Century Blood - The Warning</a></li>
    <li><a href="https://youtu.be/SCXdbOsP5Ew" target="_blank">Ego Brain - System of a Down</a></li>
</ul>
<ul>
    <li><b>Catalina Chaves Aguilar</b></li>
    <li><a href="https://www.youtube.com/watch?v=MM62wjLrgmA" target="_blank">Schism - TOOL</a></li>
    <li><a href="https://www.youtube.com/watch?v=mdV5Jrj3hnY" target="_blank">Lamborghinis - Lil Goat</a></li>
    <li><a href="https://www.youtube.com/watch?v=7PeGKDfVlHA" target="_blank">Calle de las Sirenas - KABAH</a></li>
</ul>
<ul>
    <li><b>Pablo Hernández Aguilar</b></li>
    <li><a href="https://youtu.be/92XVwY54h5k" target="_blank">Car Radio - twenty one pilots</a></li>
    <li><a href="https://youtu.be/SkBML8JgD0k" target="_blank">Polaris (Remix) - Saiko, Feid, Quevedo ft. Mora</a></li>
    <li><a href="https://youtu.be/W0yp3rSfx3I" target="_blank">She don´t give a FO - Duki ft. Khea</a></li>
</ul>
<ul>
    <li><b>Ronald Joel Angulo Hernández</b></li>
    <li><a href="https://www.youtube.com/watch?v=WnA8B6ij1Zc" target="_blank">Mercy - Stone Sour</a></li>
    <li><a href="https://www.youtube.com/watch?v=VAWjsVoDpm0" target="_blank">Got The Life - Korn</a></li>
    <li><a href="https://www.youtube.com/watch?v=fn1R-5p_j5c&rco=1" target="_blank">Welcome To The Machine - Pink Floyd</a></li>
</ul>



